[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]

[packages]
numpy = "*"
tensorflow = "==2.15.0"
six = "*"
fastapi = "==0.95.2"
pydantic = "==1.10.14"
typing-extensions = "==4.5.0"
pydantic_core = "*"
uvicorn = "*"
exceptiongroup = "*"
websockets = "*"
tf-agents = "==0.19.0"
keras = "*"

[dev-packages]
matplotlib = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
